.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.title {
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.813rem;
    text-align: left;
    color: #4E148C;
    margin-left: 2rem;
}