button {
    background-color: #4E148C;
    width: 100%;
    height: 3rem;
    border-radius: 0.625rem;
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.813rem;
    letter-spacing: 0em;
    text-align: center;
    color: #F7F9F7;
    cursor: pointer;
}